<app-navbar></app-navbar>
<section class="vh-100">
  <div class="container-fluid py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-6 col-lg-5 h-100"> <!-- Add the h-100 class here -->
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 d-none d-md-block">
              <img src="https://www.marriott.com/content/dam/marriott-renditions/dm-static-renditions/tx/emea/hws/s/seztx/en_us/photo/unlimited/assets/tx-seztx-pool-21834-square.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem; height: 100%;" /> <!-- Add height: 100% to make the image take up full height -->
            </div>
            <div class="col-md-6">
                  <form (ngSubmit)="onSubmit()" class="text-center">
                    <div class="d-flex align-items-center mb-3 pb-1 justify-content-center" style="margin-top: 20px;">
                      <span class="h2 fw-bold mb-0">Entra ahora</span>
                    </div>                
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Ingresa tu informacion</h5>
                      <div class="form-outline mb-4" style="margin: 10px;">
                      <label class="form-label" for="username">Usuario</label>
                      <input type="text" class="form-control form-control-lg" id="username" name="username" [(ngModel)]="username" required>
                      </div>
                      <div class="form-outline mb-4" style="margin: 10px;">
                      <label for="password" class="form-label">Contrasena</label>
                      <input type="password" class="form-control form-control-lg" id="password" name="password" [(ngModel)]="password" required>
                    </div>
                    <div class="pt-1 mb-4">
                      <button class="btn btn-primary btn-block btn-transparent text-center mt-3" type="submit">Entrar</button>
                    </div>
                    <div *ngIf="errorMessage" class="text-danger mt-3">
                      {{ errorMessage }}
                    </div>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">No tienes una cuenta? <a href="/register"
                      style="color: #393f81;">Registrate</a></p>
                  </form>
                  </div>
                  </div>
                </div>
              </div>
    </div>
  </div>
      </section>
